<h1 class="centralizer">Conversor de Padrão de cores</h1>

<div class="centralizer-page">

    <mat-card class="margin-card">
        <h2>Converter um valor RGB para Escala de Cinza</h2>
    
        <form [formGroup]="form1" (ngSubmit)="RGBToGrayscale()">
           
            <mat-form-field class="margin">
                <mat-label>R</mat-label>
                <input matInput  type="number" formControlName="R">
            </mat-form-field>
    
            <mat-form-field class="margin">
                <mat-label>G</mat-label>
                <input matInput  type="number" formControlName="G">
            </mat-form-field>
    
            <mat-form-field class="margin">
                <mat-label>B</mat-label>
                <input matInput  type="number" formControlName="B">
            </mat-form-field>

            
            <div>
                <button mat-raised-button color="primary"> Converter</button>
            </div>
            <p>Result: {{average}}</p>
        </form>
    </mat-card>
    
    <mat-card class="margin-card">
    
        <h2>Normalizar um valor RGB</h2>
        <form [formGroup]="form2" (ngSubmit)="normalizeRGBvalue()">
            
            <mat-form-field class="margin">
                <mat-label>R</mat-label>
                <input matInput  type="number" formControlName="R">
            </mat-form-field>
    
            <mat-form-field class="margin">
                <mat-label>G</mat-label>
                <input matInput  type="number" formControlName="G">
            </mat-form-field>
    
            <mat-form-field class="margin">
                <mat-label>B</mat-label>
                <input matInput  type="number" formControlName="B">
            </mat-form-field>

            <div>
                <button mat-raised-button color="primary"> Converter</button>
            </div>
            <p> Result: {{normalization}} </p>
        </form>
    </mat-card>
    
    <mat-card class="margin-card">
    
        <h2>Converter um valor RGB para CMYK</h2>
        <form [formGroup]="form3" (ngSubmit)="RGBtoCMYK()">
          
            <mat-form-field class="margin">
                <mat-label>R</mat-label>
                <input matInput  type="number" formControlName="R">
            </mat-form-field>
    
            <mat-form-field class="margin">
                <mat-label>G</mat-label>
                <input matInput  type="number" formControlName="G">
            </mat-form-field>
    
            <mat-form-field class="margin">
                <mat-label>B</mat-label>
                <input matInput  type="number" formControlName="B">
            </mat-form-field>
    
            <div>
                <button mat-raised-button color="primary"> Converter</button>
            </div>
            <p>Cyan color (C): {{cyan}}</p>
            <p>Magenta color (M): {{magenta}}</p>
            <p>Yellow color (Y): {{yellow}}</p>
            <p>Black key color (K): {{black}}</p>
        </form>
    </mat-card>
    
    
    <mat-card class="margin-card">
    
        <h2>Converter um valor CMYK para RGB</h2>
        <form [formGroup]="form4" (ngSubmit)="CMYKtoRGB()">
           
            <mat-form-field class="margin">
                <mat-label>C</mat-label>
                <input matInput  type="number" formControlName="C">
            </mat-form-field>
    
            <mat-form-field class="margin">
                <mat-label>M</mat-label>
                <input matInput  type="number" formControlName="M">
            </mat-form-field>
    
            <mat-form-field class="margin">
                <mat-label>Y</mat-label>
                <input matInput  type="number" formControlName="Y">
            </mat-form-field>
            
            <mat-form-field class="margin">
                <mat-label>K</mat-label>
                <input matInput  type="number" formControlName="K">
            </mat-form-field>

            <div>
                <button mat-raised-button color="primary"> Converter</button>
            </div>
            <p>Red color (R): {{red}}</p>
            <p>Green color (G): {{green}}</p>
            <p>Blue color (B): {{blue}}</p>
        
        </form>
    </mat-card>

    <mat-card class="margin-card">

        <h2>Converter um valor RGB para HSV</h2>
        <form [formGroup]="form5" (ngSubmit)="RGBtoHSV()">
        
                <mat-form-field class="margin">
                    <mat-label>R</mat-label>
                    <input matInput  type="number" formControlName="R">
                </mat-form-field>
        
                <mat-form-field class="margin">
                    <mat-label>G</mat-label>
                    <input matInput  type="number" formControlName="G">
                </mat-form-field>
        
                <mat-form-field class="margin">
                    <mat-label>B</mat-label>
                    <input matInput  type="number" formControlName="B">
                </mat-form-field>
                
            <div>
                <button mat-raised-button color="primary"> Converter</button>
            </div>
            <p>Hue (H): {{hue}}</p>
            <p>Saturation (S): {{saturation}}</p>
            <p>Value (V): {{value}}</p>
        
        </form>
    </mat-card>
</div>
