
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}
  
.example-full-width {
    width: 100%;
}

.margin {
    margin-right: 5rem;
}
.centralizer {
    display: flex;
    justify-content: center;
}
.centralizer-page {
    display: grid;
    justify-content: center;
}

.margin-card {
    margin-top: 5rem;   
}

.mat-flat-button.mat-primary, .mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary {
    background-color: #88CDF6;
}
.mat-flat-button.mat-primary, .mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary {
    color:black;
}
h1 {
    color: #7097AB;
}
h2 {
    color: #ABD1DC;
}
